rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public demo access: readable, but not writable
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
  }
}