rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Temporarily allowing complete access for debugging purposes
    match /{document=**} {
      allow read, write: if true;
    }
    
  }
}